---
import MainLayout from "../../../layouts/MainLayout.astro";
import "../../../styles/other-projects.css";
---

<head>
  <title>Math Alt-code Converter</title>
</head>

<MainLayout>
  <div class="font-[Nunito] flex flex-wrap lg:flex-row flex-col">
    <div class="w-1/2">
      <h1 class="text-4xl mb-4">Math Alt-Code Converter!</h1>
      <form id="expression-form" class="flex gap-4 flex-wrap">
        <input
          type="text"
          name="expression"
          id="exp-field"
          class="h-10 w-96 border-2 border-gray-300 px-5 pr-16 rounded-lg text-black focus:outline-none"
          placeholder="Enter your expression"
        />
        <button
          type="submit"
          id="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-all outline-none focus:shadow-xl"
        >
          Submit
        </button>
      </form>
    </div>

    <div class="lg:w-1/2 lg:mt-0 my-4">
      <ul
        class="md:grid md:grid-rows-6 md:grid-flow-col list-disc mx-10 text-xl gap-x-7 flex flex-col"
      >
        <li>pi = &pi;</li>
        <li>^2 = &#178;</li>
        <li>sqrt = &Sqrt;</li>
        <li>cbrt = &#8731;</li>
        <li>frthrt = &#8732;</li>
        <li>(+-) = &pm;</li>
        <li>delta = &Delta;</li>
        <li>"&lt;=" = &leq;</li>
        <li>"&gt;=" = &geq;</li>
        <li>inf = &infin;</li>
        <li>-&gt; = &RightArrow;</li>
        <li>int = &int;</li>
        <li>sum = &sum;</li>
        <li>part = &part;</li>
        <li>Basic fractions work but not all</li>
        <li>Escape with quotes</li>
      </ul>
    </div>
  </div>
  <div id="answer"></div>
</MainLayout>

<script>
  import submitInit from "./converter";

  submitInit();
</script>
