#body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Nunito";
    animation: ease-in;
    animation-fill-mode: forwards;
    animation: fadeInAnimation cubic-bezier() 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

html,
#body {
    margin: 0;
    margin-bottom: 0%;
    scroll-padding-top: 100px;
}