---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/other-projects.css";
---

<head>
  <link rel="shortcut icon" href="../favicon.ico?" type="image/x-icon" />
</head>
<MainLayout>
  <h1>View other projects:</h1>
  <div id="link-holder">
    <!-- <a id="snake" href="./snake/">Snake</a> -->
    <a id="math" href="other-projects/math-alt-code-converter/"
      >Alt Code Converter</a
    >
    <a id="videos" href="other-projects/videos/">My Video Work</a>
    <a id="cereal" href="other-projects/CerealLang/Cereal-Installer.zip" download
      >CerealLang Download</a
    >
    <a id="connect" href="other-projects/connect-four/">Connect Four</a>
    <a id="calc" href="other-projects/calculus-duel/">Calculus Duel</a>
  </div>
</MainLayout>
