---
import "../../../styles/calculus-duel.css";
import background from "./background.png";
---

<!DOCTYPE html>
<html>
  <head>
    <title>Calculus Duel</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon" />
  </head>

  <body
    style={`background: url(${background});`}
    class="h-screen !bg-cover font"
  >
    <main class="p-3">
      <div class="text-8xl leading-normal">
        <span class="text-[#000050]">WELCOME TO</span>
        <br />
        <span class="text-[red]">CALCULUS</span>
        <span class="text-[blue]"> DUEL!</span>
      </div>

      <div class="text">
        <p>
          This game tests your Calculus knowledge in fun duels while playing as
          historic mathematicians.
        </p>
      </div>

      <a class="button" id="zip" href="/website/CalculusDuel.zip" download
        >Download Java File!</a
      >
      <a
        class="button"
        id="exe"
        href="https://www.dropbox.com/s/urz6tsydjq2kbwg/CDSetup.exe?dl=1"
        download
        >Download Installer! <sub>(Only for Windows)</sub>
      </a>

      <div class="text">
        <p>
          If there are any issues with Java visit the website linked
          <a
            href="https://www.oracle.com/java/technologies/javase/jdk11-archive-downloads.html"
          >
            here
          </a> for help.
          <br />
          Help on how to play the game can be found
          <a href="help" class="underline text-[blue]">here</a>.
        </p>
      </div>
    </main>
  </body>
</html>
