@font-face {
    font-family: 'Nunito';
    /*a name to be used later*/
    src: url("../../Fonts/Nunito-Bold.ttf");
    /*URL to font*/
}

.videos iframe {
    margin-left: auto;
    margin-right: auto;
    margin-block: 40px;
    display: block
}